<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gbcorp.sivbeta" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/sivlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApp"
        >

        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>
        <activity android:name=".DashboardActivity"
            android:label="Teaching Staff Dashboard">
        </activity>
        <activity android:name=".OfficeDashboardActivity"
            android:label="Office Dashboard">
        </activity>
        <activity android:name=".DashboardDemoActivity"
            android:label="DEMO">
        </activity>
        <activity android:name=".DeptStaffActivity"
            android:label="Department Staff Dashboard">
        </activity>
        <activity android:name=".PrincipalDashBoardActivity"
            android:label="Principal Dashboard">
        </activity>
        <activity android:name=".AdmissionActivity"
            android:label="Admission">
        </activity>
        <activity android:name=".StenoCircularsActivity"
            android:label="Circulars">
        </activity>
        <activity android:name=".EventHandlerActivity"
            android:label="Events">
        </activity>
        <activity android:name=".FeeCounterActivity"
            android:label="Fee Counter">
        </activity>
        <activity android:name=".HostelActivity"
            android:label="Hostel">
        </activity>
        <activity android:name=".OfficeStaffInfoActivity"
            android:label="Office Staff Information">
        </activity>
        <activity android:name=".OfficeStudentInfoActivity"
            android:label="Office Student Information">
        </activity>
        <activity android:name=".SportsActivity"
            android:label="Sports Dashboard">
        </activity>
        <activity android:name=".StoresActivity"
            android:label="Stores">
        </activity>
        <activity android:name=".TransportActivity"
            android:label="Transport">
        </activity>
        <activity android:name=".ExamActivity"
            android:label="Exam">
        </activity>
        <activity android:name=".EGovernanceActivity"
            android:label="E-Governance">
        </activity>
        <activity android:name=".PlacementActivity"
            android:label="Placement Dashboard">
        </activity>
        <activity android:name=".ManagementActivity"
            android:label="Management Dashboard">
        </activity>
        <!--Newly Added -->
        <activity android:name=".CircularsActivity"
            android:label="Circulars">
        </activity>
        <activity android:name=".EgovSpellEntryActivity"
            android:label="EGovernance Spell">
        </activity>
        <activity android:name=".EquivalenceSubjectEntryActivity"
            android:label="Equivalence Subject">
        </activity>
        <activity android:name=".MtcConcessionActivity"
            android:label="MTC Concession">
        </activity>
        <activity android:name=".NominalEntryActivity"
            android:label="Nominal Entry">
        </activity>
        <activity android:name=".OfficeStenoReportsActivity"
            android:label="Office Steno Report">
        </activity>
        <activity android:name=".StaffAttendanceActivity"
            android:label="Staff Attendance">
        </activity>
        <activity android:name=".StaffLeaveEntryActivity"
            android:label="Staff Leave Entry">
        </activity>
        <activity android:name=".StaffTransportActivity"
            android:label="Staff Transport">
        </activity>
        <activity android:name=".TrainConcessionActivity"
            android:label="Train Concession">
        </activity>
        <activity android:name=".TransportIDCardActivity"
            android:label="Transport ID">
        </activity>
        <activity android:name=".TransportRouteChangeActivity"
            android:label="Transport Route Change">
        </activity>
        <activity android:name=".DetailsActivity"
            android:label="Details Activity">
        </activity>

    </application>

</manifest>