<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vinothjoshua.siv" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OfficeDashboardActivity"
            android:label="Office Dashboard">
        </activity>
        <activity android:name=".DashboardDemoActivity"
            android:label="DEMO">
        </activity>
        <activity android:name=".DeptStaffActivity"
            android:label="Department Staff Dashboard">
        </activity>
        <activity android:name=".PrincipalDashBoardActivity"
            android:label="Principal Dashboard">
        </activity>
        <activity android:name=".AdmissionActivity"
            android:label="Admission">
        </activity>
        <activity android:name=".CircularsActivity"
            android:label="Circulars">
        </activity>
        <activity android:name=".EventHandlerActivity"
            android:label="Events">
        </activity>
        <activity android:name=".FeeCounterActivity"
            android:label="Fee Counter">
        </activity>
        <activity android:name=".HostelActivity"
            android:label="Hostel">
        </activity>
        <activity android:name=".OfficeStaffInfoActivity"
            android:label="Office Staff Information">
        </activity>
        <activity android:name=".OfficeStudentInfoActivity"
            android:label="Office Student Information">
        </activity>
        <activity android:name=".SportsActivity"
            android:label="Sports Dashboard">
        </activity>
        <activity android:name=".StoresActivity"
            android:label="Stores">
        </activity>
        <activity android:name=".TransportActivity"
            android:label="Transport">
        </activity>
        <activity android:name=".ExamActivity"
            android:label="Exam">
        </activity>
        <activity android:name=".EGovernanceActivity"
            android:label="E-Governance">
        </activity>
        <activity android:name=".PlacementActivity"
            android:label="Placement Dashboard">
        </activity>
        <activity android:name=".ManagementActivity"
            android:label="Management Dashboard">
        </activity>
    </application>

</manifest>